{% ckan_extends %}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <a class="btn btn-success btn-large" style="margin-top:-8px" href="/dataset/edit/{{pkg.name}}"><i class="icon-wrench"></i> Manage Spectra</a>
  {% endif %}
{% endblock %}

{% block package_notes %}
  {% if c.pkg_notes_formatted %}
    <div class="notes embedded-content">
      {{ c.pkg_notes_formatted }}
    </div>
  {% endif %}
  {% if not pkg.private %}
    <a href="{{ c.environ['pylons.pylons'].config['esis.search_url'] }}#result/{{ pkg.id }}" target="_blank">View in Ecosis Search</a>
  {% endif %}
{% endblock %}