.pyc
*.DS_Store
*.idea
*.pyc
*.tmp*
sessions.json
spectra-importer/app/import/components
spectra-importer/dist/import/components
spectra-importer/node_modules
spectra-importer/import-top-traits/node_modules
node_modules
bower_components
ckanext_ecosis.egg-info
.idea/*
