{% extends 'package/snippets/package_basic_fields.html' %}

{% block package_basic_fields_url %}
{% set prefix = h.url_for(controller='spectral', action='read', id='') %}
{% set domain = h.url_for(controller='spectral', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<spectra>'} %}

{{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-spectra'), value=data.name, error=errors.name, attrs=attrs) }}
{% endblock %}
