{% extends "base.html" %}


{% block page %}
<div role="main">
    <div id="content" class="container">
        <section class="module wrapper">
            <div class="module-content">
              <h1 class="page-heading">Login to <span class="remote-site-label"></span></h1>
              {% block form %}
                {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
              {% endblock %}
            </div>
        </section>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% resource 'ecosis/remotelogin.js' %}
{% endblock %}
