{% extends "base.html" %}



{% block subtitle %}EcoSML Login{% endblock %}

{% block page %}
<div role="main">
    <div id="content" class="container">
        <section class="module wrapper">
            <div class="module-content">
              <h1 class="page-heading">Login to EcoSML</h1>
              {% block form %}
                {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
              {% endblock %}
            </div>
        </section>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% resource 'ecosis/test.js' %}
{% endblock %}
