html /deep/ .green {
  color: #2f9b45;
}
html /deep/ .blue {
  color: #2196F3;
}
html /deep/ .orange {
  color: #FF9800;
}
html /deep/ .red-button {
  background-color: rgb(210, 63, 49);
  color: white;
}
html /deep/ paper-progress.red::shadow #activeProgress {
  background-color: rgb(210, 63, 49);
}

html /deep/ paper-tabs::shadow #selectionBar {
  background-color: rgb(47, 155, 69);
}
html /deep/ paper-tab::shadow #ink {
  color: rgb(47, 155, 69);
}

body {
  font-family: sans-serif;
  color: #333;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

html /deep/ .focused-underline {
  color: #2f9b45 !important;
  background-color: #2f9b45 !important;
}
html /deep/ paper-input-decorator /deep/ .label-text {
  color: #2f9b45 !important;
}
paper-input-decorator /deep/ .cursor {
  background-color: #2f9b45 !important;
}
html /deep/ paper-input {
  width: 350px;
}




html /deep/ core-toolbar {
  background-color: #2f9b45 !important;
}
html /deep/ .element-label {
  color: #2f9b45;
}
html /deep/ .bs-label.info-label {
  background-color: #3a87ad;
}
html /deep/ .bs-label.warning-label {
  background-color: #f89406;
}
html /deep/ .bs-label.success-label {
  background-color: #468847;
}
html /deep/ .bs-label {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}